/*body {
      background: #262626;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;


    }*/
    ./*swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      background: #fff;
    }
*/
    /* .e1{
      position: relative;
      left: 60% !important;
      margin: auto;
    }
}
    .e2{
      /* background-color: lightblue; */
      /* padding-top: 3%;
      padding-bottom: 3%;
    }
    .e3{
      font-size: 45px;
      position: absolute;
      top: -15px;
      right: 5%;
    }
    .c1,.c2,.c3,.c4,.c5{
    margin-top: 10%;
    } */ 
/* 
    @media only screen and (max-width: 786px) {
      .e1{
        position: relative;
        left: 5%;
        margin: auto;
      }
      .e3{
        font-size: 45px;
        position: absolute;
        top: -55px;
        right: 1%;
      }

      .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .c1,.c2,.c3,.c4,.c5{
  margin-top: 30%;
  } */

